<div fxLayoutAlign="center center" fxLayout="column" fxFlexFill>
    <p>Please, keep in mind that all information, including authorization credentials and created tasks, will be cleared on page reload.</p>
    <button mat-raised-button color="primary" (click)="navigateToPreviousPage()">Got it! :)</button>

    <div class="info-container">
        Header icon (DS) made by
        <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
</div>