<mat-toolbar class="header dark" color="primary">
    <mat-toolbar-row style="max-height: 100%" fxLayoutAlign="space-between center">
        <!-- Icon -->
        <img class="logo" focused="false" src="./assets/ds.png">

        <!-- Nav buttons -->
        <div class="navbar" fxLayoutGap="40px" fxLayoutAlign="end center" fxFlex>
            <!-- Do not show logout button when user is not logged -->
            <a *ngIf="getCurrentUser() !== null" class="nav-button" [routerLink]="" (click)="logout()">
                <mat-icon>account_circle</mat-icon>
            </a>
            <!-- About page -->
            <a class="nav-button" [routerLink]="" (click)="navigateToAboutPage()">
                <mat-icon>contact_support</mat-icon>
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>