.header {
    width: 100%;
    background-color: #efaac1;

    &.dark {
        background-color: #363636;
        color: #29a0e6;
    }

    .logo {
        max-height: 90%;
    }

    .navbar {
        margin-right: 50px;

        .nav-button {
            color: #29a0e6;

            .mat-icon {
                font-size: 36px;
                margin-bottom: 10px;
            }
        }
    }
}
