<div class="container" fxLayout="row" fxFlexFill>
    <!-- Background -->
    <div class="background-container" fxLayout.xs="hide" fxLayout="column" fxLayoutAlign="start center" fxFlex="60%">
        <div class="motivation-text">
            <p class="main-phrase">Learning is the key to success.</p>
            Our LMS is in pre-alpha stage now, so please, do not expect it to have many features.
        </div>
    </div>
    <!-- Login form -->
    <div class="login-form-container" fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <p class="info-label">Feel free to try out our new Learning Management System developed by Denis Semionov.</p>

        <form [formGroup]="loginForm" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="15px">
            <h2>Sign in</h2>
            <mat-form-field appearance="outline">
                <mat-label>Enter your username...</mat-label>
                <input matInput placeholder="Username" formControlName="username" />
                <mat-error class="warn" *ngIf="loginForm.controls.username.hasError('required') && loginForm.controls.username.touched">
                    Username is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Enter your password...</mat-label>
                <input matInput placeholder="Password" formControlName="password" type="password" />
                <mat-error class="warn" *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.password.touched">
                    Password is required.
                </mat-error>
            </mat-form-field>

            <!-- Actions -->
            <button mat-raised-button color="primary" (click)="login()">Login</button>

            <a *ngIf="!hasForgotPassword" [routerLink]="" (click)="forgotPassword()">Forgot your password?</a>
            <span *ngIf="hasForgotPassword">We are sorry about that.</span>
        </form>
    </div>
</div>